<h1>Ingresar</h1>

<div class="container">

    <form action="@Url.Action("Entrar", "Welcome")" method="post">
        <label>Nombre</label>
        <input type="text" name="user" value="" />
        <label>Contraseña</label>
        <input type="password" name="pass" value="" />
        <button type="submit" class="btn btn-danger">Ingresar</button>
    </form>

</div>


@*<br /><br /><br />
    <hr />
    <h3>Botones para simular navegacion</h3>

    <a class="btn btn-danger" href="@Url.Action("Index", "Usuario")">Administrador</a>
    <a class="btn btn-success" href="@Url.Action("Index", "Producto")">Comercial</a>
    <a class="btn btn-danger" href="@Url.Action("Index", "Recepcion")">Bodega</a>
    <a class="btn btn-danger" href="@Url.Action("Index", "Venta")">Caja</a>*@

@*hola*@