@model IEnumerable<Delphos.Models.Producto>

<h1>Lista de Productos</h1>
<hr />

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-3">
            @Html.TextBox("SearchString", "", new { @class = "form-control" })
        </div>
        <div class="col-3">
            <input class="btn colorBoton" type="submit" value="Buscar por Sku" />
        </div>
        <div class="col-3"></div>
    </div>
}
<br />
<div class="table">
    <table class="table table-striped">
        <thead>
            <tr >
                <th scope="col">#</th>
                <th scope="col">Sku</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha</th>
                <th style="text-align:center">|</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <th scope="row">@p.Id</th>
                    <td>@p.Sku</td>
                    <td>@p.Nombre</td>
                    <td>@p.Descripcion</td>
                    <td>@string.Format("{0:C}", @p.Precio)</td>
                    <td>@p.FechaCreacion.ToString("dd-MM-yy")</td>
                    <td style="text-align:center; color:coral">|</td>
                    <td style="text-align:center">
                        <a class="far fa-edit" href="@Url.Action("Editar", "Producto", new { id = p.Id })"></a> |
                        <a class="far fa-eye" href="@Url.Action("Ver", "Producto", new { id = p.Id })"></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<a class="btn colorBoton col-sm-3" href="@Url.Action("Nuevo", "Producto")"><i class="fas fa-plus" style="margin-right:10px"></i>Agregar</a>
