@model Delphos.Models.Producto

<h1 style="text-align:center">Agregar Producto</h1>
<hr />

@*@Html.ValidationSummary()*@

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form method="post" action="@Url.Action("Nuevo", "Producto")">
            <div class="form-group row">
                <label for="Sku" class="col-sm-2 col-form-label">Sku</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Sku" name="Sku" value="@Model.Sku">
                    @Html.ValidationMessageFor(Model => Model.Sku)
                </div>
            </div>

            <div class="form-group row">
                <label for="Nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre">
                    @Html.ValidationMessageFor(Model => Model.Nombre)
                </div>
            </div>

            <div class="form-group row">
                <label for="Descripcion" class="col-sm-2 col-form-label">Descripcion</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Descripcion" name="Descripcion" value="@Model.Descripcion">
                    @Html.ValidationMessageFor(Model => Model.Descripcion)
                </div>
            </div>

            <div class="form-group row">
                <label for="Categoria" class="col-sm-2 col-form-label">Categoria</label>
                <div class="col-sm-10">
                    <select class="form-control" id="Categoria" name="Categoria">
                        <option>opcion 1</option>
                        <option>opcion 2</option>
                        <option>opcion 3</option>
                        <option>opcion 4</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="Precio" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Categoria" name="Precio" value="@Model.Precio">
                    @Html.ValidationMessageFor(Model => Model.Precio)
                </div>
            </div>

            <input type="hidden" value="@Model.FechaCreacion" name="FechaCreacion" />

            <br /><br />

            <div class="row">
                <div class="col" style="text-align:right">
                    <a class="btn btn-sm colorBoton col-sm-3" href="@Url.Action("Index", "Producto")"><i class="fas fa-arrow-left" style="padding-right:10px"></i>Volver</a>
                    <button type="submit" class="btn btn-sm colorBoton col-sm-3"><i class="far fa-save" style="padding-right:10px"></i>Confirmar</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-3"></div>
</div>


