@model Delphos.Models.Producto

<h1 style="text-align:center">Ver Producto</h1>
<hr />

<div class="caja">
    <div class="row">
        <div class="col"></div>
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="~/Otros/Producto.png" width="70" height="300" class="card-img" alt="...">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Nombre</h5>
                        <ul style="padding-top:10px">
                            <li type="disc"><p class="card-text">Sku: @Model.Sku</p></li>
                            <li type="disc"><p class="card-text">Descripcion: @Model.Descripcion</p></li>
                            <li type="disc"><p class="card-text">Precio: @Model.Precio</p></li>

                        </ul>
                        @*<p class="card-text" style="text-align:right; padding-top:30px"><small class="text-muted">Fecha de registro: @Model.FechasCreacion.ToString("dd-MM-yyyy")</small></p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<br /><br />

<div class="row">
    <div class="col" style="text-align:right">
        <a class="btn btn-sm colorBoton col-sm-2" href="@Url.Action("Index", "Producto")"><i class="fas fa-arrow-left" style="padding-right:10px"></i>Volver</a>
    </div>
</div>





