<!--vista requiere que datos son otorgados atraves del metodo view -->
@model IEnumerable<Delphos.Models.OrdenCompra>
@{
    Layout = "~/Views/Shared/_LayoutComercial.cshtml";
}
<h1>Lista ordenes de compra</h1>
<hr />

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NOrden de Compra</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha de Emision</th>
                <th scope="col">Realizado Por</th>
                <th scope="col">Detalle</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Delphos.Models.OrdenCompra ordenCompra in Model)
            {
                <tr>
                    <th scope="row">@ordenCompra.Id</th>
                    <td>@ordenCompra.NOrdenDeCompra</td>
                    <td>@ordenCompra.Proveedor</td>
                    <td>@ordenCompra.FechaEmision</td>
                    <td>@ordenCompra.Usuario</td>
                    <td>#</td>
                    <td>
                        <a href="#">Anular</a>|
                        <a href="@Url.Action("Ver","OrdenDeCompra", new { id=ordenCompra.Id})">Ver</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<a class="btn colorBoton" href="@Url.Action("Nuevo", "OrdenDeCompra")">Agregar</a>
