@model Delphos.Models.OrdenCompra

<h1>Ver ordenes de compra</h1>
<hr />
<!-- 50%/50% split -->
<div class="table">
    <div class="row">
        <div class="col-4">
            <!--<p>NOrdenDeCompra</p>-->
            <p>NumeroOrden: </p>
            <p>@Model.NOrdenDeCompra</p>
        </div>
        <div class="col-6">
            <!--<p>Proveedor</p>-->
            <!--<p>@Model.ProveedorId</p>-->
            @foreach (Delphos.Models.Proveedor p in ViewBag.proveedores)
            {<!--u.id = id de usuario guardado en usuarios bd, UsuarioId= el usuario que esta guardado en proveedor kf-->
                if (p.Id == Model.ProveedorId)
                {
                    <p>Proveedor: </p>
                    <p class="card-text">@p.Nombre</p>
                }
            }
        </div>
        <div class="col-2">
            <!--<p>Fecha Creacion</p>-->
            <p>Fecha de Emision OC: </p>
            <p>@Model.FechaEmision</p>
        </div>
    </div>
</div>

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre Del producto</th>
                <th scope="col">SKU</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Total</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>#</td>
                <td>#</td>
                <td>#</td>
                <td>#</td>
                <td>#</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>#</td>
                <td>#</td>
                <td>#</td>
                <td>#</td>
                <td>#</td>
            </tr>

        </tbody>
    </table>
</div>
<!-- 50%/50% split -->
<div class="container-fluid">
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-4">

        </div>
        <div class="col-2">
            <!--<p>Total de la OC</p>-->
            <p>Total : $400.000</p>
        </div>
    </div>
</div>
<a class="btn colorBoton" href="@Url.Action("Index", "OrdenDeCompra")">Volver</a>
