@model Delphos.Models.Usuario

@{
    Layout = "~/Views/Shared/_LayoutU.cshtml";
}

<h1 style="text-align:center">Editar Usuario</h1>
<hr />

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form method="post" action="@Url.Action("Editar", "Usuario")">

            <input type="hidden" value="@Model.Id" name="Id" />

            <div class="form-group row">
                <label for="Rut" class="col-sm-2 col-form-label">Rut</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Rut" name="Rut" value="@Model.Rut">
                </div>
            </div>

            <div class="form-group row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre" name="Nombre" value="@Model.Nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="Password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Password" name="Password" value="@Model.Password">
                </div>
            </div>

            <div class="form-group row">
                <label for="Cargo" class="col-sm-2 col-form-label">Cargo</label>
                <div class="col-sm-10">
                    <select class="form-control" id="Cargo" value="@Model.CargoId" name="CargoId">
                        <option selected value="@Model.CargoId"></option>
                        <option value="1">Administrador</option>
                        <option value="2">Bodega</option>
                        <option value="3">Caja</option>
                        <option value="4">Comercial</option>

                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="Estado" class="col-sm-2 col-form-label">Estado</label>
                <div class="col-sm-10">
                    <select class="form-control" id="Estado" value="@Model.Estado" name="Estado">
                        <option>Activo</option>
                        <option>Deshabilitado</option>
                    </select>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col">
                    <a class="btn colorBoton" href="@Url.Action("Index", "Usuario")">Volver</a>
                </div>

                <div class="col" style="text-align:right">
                    <button type="submit" class="btn colorBoton">Confirmar</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-3"></div>
</div>

