@model Delphos.Models.Usuario

<h1 style="text-align:center">Editar Usuario</h1>
<hr />

<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <form method="post" action="@Url.Action("Editar", "Usuario")">

            <input type="hidden" value="@Model.Id" name="Id" />

            <div class="form-group row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="nombre" name="Nombre" value="@Model.Nombre">
                </div>
                <label for="Rut" class="col-sm-2 col-form-label">Rut</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="Rut" name="Rut" value="@Model.Rut">
                </div>
            </div>

            <div class="form-group row">
                <label for="ApellidoP" class="col-sm-2 col-form-label">Apellido Paterno</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="ApellidoP" name="ApellidoP" value="@Model.ApellidoP">
                    @Html.ValidationMessageFor(Model => Model.Rut)
                </div>
                <label for="ApellidoM" class="col-sm-2 col-form-label">Apellido Materno</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="ApellidoM" name="ApellidoM" value="@Model.ApellidoM">
                    @Html.ValidationMessageFor(Model => Model.Rut)
                </div>
            </div>

            <div class="form-group row">
                <label for="Direccion" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="Direccion" name="Password" value="@Model.Direccion">
                </div>
                <label for="Telefono" class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="Telefono" name="Telefono" value="@Model.Telefono">
                </div>
            </div>

            <div class="form-group row">
                <label for="Correo" class="col-sm-2 col-form-label">Correo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Correo" name="Correo" value="@Model.Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="Cargo" class="col-sm-2 col-form-label">Cargo</label>
                <div class="col-sm-4">
                    <select class="form-control">
                        @foreach (Delphos.Models.Cargo c in ViewBag.cargos)
                        {
                            if (c.Id == Model.CargoId)
                            {
                                <option style="font-style: oblique" selected disabled value="@c.Id">@c.Nombre</option>
                            }
                            <option value="@c.Id">@c.Nombre</option>
                        }
                    </select>
                </div>
                <label for="Estado" class="col-sm-2 col-form-label">Estado</label>
                <div class="col-sm-4">
                    <select class="form-control" id="Estado" value="@Model.Estado" name="Estado">
                        <option>Activo</option>
                        <option>Deshabilitado</option>
                    </select>
                </div>
            </div>

            <br /><br />
            <div class="row" >
                <div class="col" style="text-align:right">
                    <a class="btn colorBoton col-2" href="@Url.Action("Index", "Usuario")">Volver</a>
                    <button type="submit" class="btn colorBoton col-2">Confirmar</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col"></div>
</div>

