@model IEnumerable<Delphos.Models.Usuario>

<h1>Listado de Trabajadores</h1>
<hr />
<div class="caja">


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fab fa-searchengin"></i></span>
        </div>
        <input type="search" class="form-control col-sm-3" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1" name="Search" Id="Search">
        <label style="padding-left:10px; padding-top:4px" for="Search">Busqueda rapida</label>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Cargo</th>
                <th scope="col">Estado</th>
                <th style="text-align:center">|</th>
                <th scope="col" style="text-align:center">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr class="Search">
                    <th scope="row">@u.Id</th>
                    <td>@u.Rut</td>
                    <td>@u.Nombre @u.ApellidoP @u.ApellidoM</td>
                    <td>@u.Telefono</td>
                    <td>@u.Cargo.Nombre</td>
                    <td>@u.Estado</td>
                    <td style="text-align:center; color:coral">|</td>
                    <td style="text-align:center">
                        <a class="far fa-edit" href="@Url.Action("Editar", "Usuario", new { id = u.Id })"></a> |
                        <a class="far fa-eye" href="@Url.Action("Ver", "Usuario", new { id = u.Id })"></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>