@model Delphos.Models.Usuario

<h1>Ficha del Trabajador</h1>
<hr />
<div class="caja">
    <div class="row">
        <div class="col"></div>
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="~/Otros/guest.png" class="card-img" alt="...">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Nombre @Model.ApellidoP @Model.ApellidoM</h5>
                        <ul style="padding-top:10px">
                            <li type="disc"><p class="card-text">Rut: @Model.Rut</p></li>
                            <li type="disc"><p class="card-text">Direccion: @Model.Direccion</p></li>
                            <li type="disc"><p class="card-text">Correo: @Model.Email</p></li>
                            <li type="disc"><p class="card-text">Telefono: @Model.Telefono</p></li>
                            <li type="disc">
                                @foreach (Delphos.Models.Cargo c in ViewBag.cargos)
                                {
                                    if (c.Id == Model.CargoId)
                                    {
                                        <p class="card-text">Cargo: @c.Nombre</p>
                                    }
                                }
                            </li>
                            <li type="disc"><p class="card-text">Estado: @Model.Estado</p></li>

                        </ul>
                        <p class="card-text" style="text-align:right; padding-top:30px"><small class="text-muted">Fecha de registro: @Model.FechasCreacion.ToString("dd-MM-yyyy")</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<br /><br />

<div class="row">
    <div class="col" style="text-align:right">
        <a class="btn btn-sm colorBoton col-sm-2" href="@Url.Action("Index", "Usuario")"><i class="fas fa-arrow-left" style="padding-right:10px"></i>Volver</a>
    </div>
</div>