@model IEnumerable<Delphos.Models.Traspaso>

<h1>Traspasos</h1>
<hr />

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sku</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Bodega Origen</th>
                <th scope="col">Bodega Destino</th>
                <th scope="col">Fecha</th>
                <th style="text-align:center">|</th>
                <th style="text-align:center" scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
            <tr>
                <th scope="row">@t.Id</th>
                <td>@t.SkuProducto</td>
                <td>@t.Cantidad</td>
                <td>
                    @if (t.BodegaOrigen == 1)
                    {
                        <p>Bodega Principal</p>;
                    }
                    else
                    {
                        <p>Bodega Secundaria</p>;
                    }
                </td>
                <td>
                    @if (t.BodegaDestino == 1)
                    {
                        <p>Bodega Principal</p>;
                    }
                    else
                    {
                        <p>Bodega Secundaria</p>;
                    }
                </td>
                <td>@t.FechaTraspaso.ToString("dd-MM-yy")</td>
                <td style="text-align:center; color:coral">|</td>
                <td style="text-align:center">
                    <a class="fas fa-list-ul" href="@Url.Action("TraspasoDetalle", "Traspaso", new { id = t.Id })"></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>


<div class="row">
    <div class="col" style="text-align:right">
        <a class="btn btn-sm colorBoton col-sm-2" href="@Url.Action("Nuevo", "Traspaso")"><i class="far fa-save" style="padding-right:10px"></i>Crear Traspaso</a>
    </div>
</div>