@model IEnumerable<Delphos.Models.Traspaso>

<h1>Traspasos</h1>
<hr />

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bodega Origen</th>
                <th scope="col">Bodega Destino</th>
                <th scope="col">Fecha</th>
                <th style="text-align:center">|</th>
                <th style="text-align:center" scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                <tr>
                    <th scope="row">@t.Id</th>
                    <td>
                        @if (t.BodegaOrigen == ViewBag.bodegas[0].Id)
                        {
                            @ViewBag.bodegas[0].Nombre;
                        }
                        else
                        {
                            @ViewBag.bodegas[1].Nombre;
                        }
                    </td>
                    <td>
                        @if (t.BodegaOrigen == ViewBag.bodegas[1].Id)
                        {
                            @ViewBag.bodegas[1].Nombre;
                        }
                        else
                        {
                            @ViewBag.bodegas[0].Nombre;
                        }
                    </td>
                    <td>@t.FechaTraspaso.ToString("dd-MM-yy")</td>
                    <td style="text-align:center; color:coral">|</td>
                    <td style="text-align:center">
                        <a class="fas fa-list-ul" href="@Url.Action("TraspasoDetalle", "Traspaso", new { id = 1 })"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a class="btn colorBoton" href="@Url.Action("Crear", "Traspaso")">Nuevo Traspaso</a>
</div>
