@model Delphos.Models.Traspaso


<h1>Productos que contiene el traspaso</h1>
<hr />

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Sku</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in ViewBag.detalles)
            {
            <tr>
                <th scope="row"></th>

                @foreach (var p in ViewBag.productos)
                {
                    if (d.IdProducto == p.Sku)
                    {
                        <td>@p.Sku</td> 
                        <td>@p.Nombre</td>
                        <td>@p.Precio</td>
                    }

                }

                <td>@d.Cantidad</td>
            </tr>
            }
        </tbody>
    </table>

</div>

<div class="row">
    <div class="col" style="text-align:right">
        <a class="btn btn-sm colorBoton col-sm-2" href="@Url.Action("Index", "Traspaso")"><i class="fas fa-arrow-left" style="padding-right:10px"></i>Volver</a>
    </div>
</div>