@model Delphos.Models.Proveedor
<h1>Editar Proveedor</h1>
<hr />
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <!--Helper de .net(muestra todos los errores) -->
        @Html.ValidationSummary()
        <div class="form-group row">
            <label for="Rut" class="col-sm-2 col-form-label">Rut</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Rut" name="Rut" disabled value="@Model.Rut">
            </div>
        </div>
        
        <form method="post" action="@Url.Action("Editar", "Proveedor")">
            <input type="text" class="form-control" id="Rut" name="Rut" hidden value="@Model.Rut">


            <div class="form-group row">
                <label for="Nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre">
                </div>
            </div>

            <div class="form-group row">
                <label for="Giro" class="col-sm-2 col-form-label">Giro</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Giro" name="Giro" value="@Model.Giro">
                </div>
            </div>

            <div class="form-group row">
                <label for="RazonSocial" class="col-sm-2 col-form-label">Razon Social</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="RazonSocial" name="RazonSocial" value="@Model.RazonSocial">
                </div>
            </div>
            <div class="form-group row">
                <label for="Email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="Telefono" class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Telefono" name="Telefono" value="@Model.Telefono">
                </div>
            </div>

            <br /><br />

            <div class="row">
                <div class="col" style="text-align:right">
                    <a class="btn btn-sm colorBoton col-sm-3" href="@Url.Action("Index", "Proveedor")"><i class="fas fa-arrow-left" style="padding-right:10px"></i>Volver</a>
                    <button type="submit" class="btn btn-sm colorBoton col-sm-3"><i class="fas fa-angle-double-up" style="padding-right:10px"></i>Actualizar</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-3"></div>

</div>