<!--vista requiere que datos son otorgados atraves del metodo view -->
@model IEnumerable<Delphos.Models.Proveedor>

<h1>Lista Proveedores</h1>
<hr />
<!--proveedoresssss-->
<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Giro</th>
                <th scope="col">Razon Social</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Delphos.Models.Proveedor proveedor in Model)
            {
                <tr>
                    <th scope="row">@proveedor.Id</th>
                    <td>@proveedor.Rut</td>
                    <td>@proveedor.Nombre</td>
                    <td>@proveedor.Giro</td>
                    <td>@proveedor.RazonSocial</td>
                    <td>@proveedor.Email</td>
                    <td>@proveedor.Telefono</td>
                    <td>
                        <a href="@Url.Action("Editar","Proveedor", new { id=proveedor.Id})">Editar</a>|
                        <a href="@Url.Action("Ver","Proveedor", new { id=proveedor.Id})">Ver</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a class="btn colorBoton" href="@Url.Action("Nuevo", "Proveedor")">Agregar</a>

