<nav class="navbar navbar-expand-lg barra">
    <a class="navbar-brand">
        <img src="~/Otros/versluys.png" alt="logo" style="width:40px;">
        <label style="font-weight:bold">Versluys</label>
    </a>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" style="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "color:red; background-color: cornsilk" : "color:Black")" href="@Url.Action("Index", "Welcome")">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")" style="@(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "color:red; background-color: cornsilk" : "color:Black")" href="@Url.Action("Login", "Welcome")">Ingresar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Sugerencia" ? "active" : "")" style="@(ViewContext.RouteData.Values["Action"].ToString() == "Sugerencia" ? "color:red; background-color: cornsilk" : "color:Black")" href="@Url.Action("Sugerencia", "Welcome")">Sugerencias</a>
        </li>
    </ul>
</nav>

