<nav class="navbar navbar-expand-lg barra">
    <a class="navbar-brand">
        <img src="~/Otros/versluys.png" alt="logo" style="width:40px;">
        <label style="font-weight:bold">Versluys</label>
    </a>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" style="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "color:red; background-color: cornsilk; font-weight:bold" : "color:Black")" href="@Url.Action("Index", "Welcome")"><i class="fas fa-home" style="margin-right:10px"></i>Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")" style="@(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "color:red; background-color: cornsilk; font-weight:bold" : "color:Black")" href="@Url.Action("Login", "Welcome")"><i class="fas fa-user-tie" style="margin-right:10px"></i>Ingresar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Sugerencia" ? "active" : "")" style="@(ViewContext.RouteData.Values["Action"].ToString() == "Sugerencia" ? "color:red; background-color: cornsilk; font-weight:bold" : "color:Black")" href="@Url.Action("Sugerencia", "Welcome")"><i class="fas fa-comments" style="margin-right:10px"></i>Sugerencias</a>
        </li>
    </ul>
</nav>

