@{
    Delphos.Models.Usuario u = (Delphos.Models.Usuario)Session["Usuario"];
}

<nav class="navbar navbar-expand-lg barra">
    <a class="navbar-brand" id="navbarText">
        <img src="~/Otros/versluys.png" alt="logo" style="width:40px;">
        <label style="font-weight:bold">Panel de Control de Trabajadores</label>
    </a>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index","Usuario")">Trabajadores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Nuevo" ? "active" : "")" href="@Url.Action("Nuevo","Usuario")">Registrar</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li style="margin-right: 10px; font-style:italic">Bienvenido: @u.Nombre @u.ApellidoP @u.ApellidoM</li>
        <li style="margin-right: 10px">|</li>
        <li class="logoff" style="color:white; font-weight:bold">
            @Html.ActionLink("CerrarSession", "Cerrar", "CerrarSession")
        </li>
    </ul>
</nav>

