@model Delphos.Models.Venta


<h1>Detalle Boleta @Model.NumeroBoleta</h1>
<hr />

<div class="row">
    <div class="col" style="text-align:center">
        <p>Numero de Boleta</p>
    </div>
    <div class="col" style="text-align:center">
        <p>Fecha</p>
    </div>
    <div class="col" style="text-align:center">
        <p>Metodo de pago</p>
    </div>
</div>





<div class="row">
    <div class="col">
        <input class="form-control" type="text" name="NumBoleta" value="@Model.NumeroBoleta" disabled />
    </div>
    <div class="col">
        <input class="form-control" type="text" name="FechaBoleta" value="@Model.FechaVenta" disabled />
    </div>
    <div class="col">
        <input class="form-control" type="text" name="MetodoPago" value="" disabled />
    </div>
</div>



<br />

<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">SKU</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in ViewBag.detalles)
            {
                <tr class="Search">
                    <th>@u.Id</th>
                    <th>@u.IdProducto</th>

                    @foreach (var p in ViewBag.productos)
                    {
                        if (u.IdProducto == p.Sku)
                        {
                            <th>@p.Nombre</th>
                            <th>@p.Precio</th>
                        }

                    }
                </tr>
            }


        </tbody>
    </table>
</div>

<br />
<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-md-3">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="total">Total</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="">
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col" style="text-align:right">
        <a class="btn btn-sm colorBoton col-sm-2" href="@Url.Action("VentaDelDia", "Venta")"><i class="fas fa-arrow-left" style="padding-right:10px"></i>Volver</a>
    </div>
</div>




