
<h1>Vista Caja</h1>
<hr />

<div class="row">
    <div class="col-8">
        @using (Html.BeginForm("Index", "Venta", FormMethod.Post))
        {
            <div class="row">
                <div class="col-3">
                    @Html.TextBox("SearchString", "", new { @class = "form-control" })
                </div>
                <div class="col-3">
                    <input class="btn colorBoton" type="submit" value="Buscar por Sku " />
                </div>
                <div class="col-3"></div>
            </div>
        }
    </div>

    <div class="col">
        <button class="btn colorBoton form-control">Agregar Producto</button>
    </div>
</div>

<br />

<div class="row">
    <div class="col" style="text-align:center">
        <p>Nombre del Producto</p>
    </div>
    <div class="col" style="text-align:center">
        <p>SKU</p>
    </div>
    <div class="col" style="text-align:center">
        <p>Precio Unitario</p>
    </div>
    <div class="col" style="text-align:center">
        <p>Cantidad</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <input style="text-align:center" class="form-control" type="text" name="Nombre" id="Nombre" value="@ViewBag.Nombre" disabled />
    </div>
    <div class="col">
        <input style="text-align:center" class="form-control" type="text" name="SKU" id="Sku" value="@ViewBag.Sku" disabled />
    </div>
    <div class="col">
        <input style="text-align:center" class="form-control" type="text" name="Precio" id="" value="@ViewBag.Precio" disabled />
    </div>
    <div class="col">
        <input style="text-align:center" class="form-control" type="text" name="Cantidad" value="" />
    </div>
</div>
<br />
<br />

<div class="table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sku</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha</th>

            </tr>
        </thead>
        <tbody>
@*            @foreach (var p in Model)
            {
                <tr>
                    <th scope="row">@p.Id</th>
                    <td>@p.Sku</td>
                    <td>@p.Nombre</td>
                    <td>@p.Descripcion</td>
                    <td>@p.CategoriaId</td>
                    <td>@string.Format("{0:C}", @p.Precio)</td>
                    <td>@p.FechaCreacion.ToString("dd-MM-yy")</td>
                </tr>
            }*@

        </tbody>
    </table>
</div>


<br />
<div class="row">
    <div class="col">
        <label for="pago">Forma de pago</label>
        <div>
            <select class="form-control" id="pago" name="">
                <option>Debito</option>
                <option>Efectivo</option>

            </select>
        </div>
    </div>

    <div class="col">
        <br />
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="total">Total</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col" style="text-align:center">
        <button class="btn colorBoton col-sm-3"><i class="fas fa-cash-register" style="margin-right: 10px"></i>Aprobar</button>
    </div>
    <div class="col" style="text-align:center">
        <button class="btn colorBoton col-sm-3"><i class="far fa-window-close" style="margin-right: 10px"></i>Rechazar</button>
    </div>
</div>

<br />
<br />

<div class="caja">
    <div class="container">
        <form>
            <div class="form-group">
                <div hidden>
                    <p>
                        <label>Nombre:</label> <br>
                        <input id="nombre" class="form-control" type="text" placeholder="Nombre..." value="@ViewBag.Nombre"><br>
                    </p>
                    <p>
                        <label>Sku:</label> <br>
                        <input id="apellido" class="form-control" type="text" placeholder="Apellido..." value="@ViewBag.Sku"><br>
                    </p>
                    <p>
                        <label>Precio:</label> <br>
                        <input id="cedula" class="form-control" type="text" placeholder="Cedúla" value="@ViewBag.Precio"> <br>
                    </p>
                </div>

                <button id="adicionar" class="btn btn-success" type="button">Adicionar a la tabla</button>
            </div>
        </form>

        <p>
            Elementos en la Tabla:
            <div id="adicionados"></div>
        </p>
        <table id="mytable" class="table table-bordered table-hover ">
            <tr>
                <th>Nobmre</th>
                <th>Sku</th>
                <th>Precio</th>
                <th>Eliminar</th>

            </tr>
        </table>

    </div>
</div>