@model IEnumerable<Delphos.Models.Venta>

<h1>Resumen de ventas del dia</h1>
<hr />

<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-searchengin"></i></span>
            </div>
            <input type="search" class="form-control col-sm-4" placeholder="Buscar..." aria-label="Username" aria-describedby="basic-addon1" name="Search" Id="Search">
            <label style="padding-left:10px; padding-top:4px" for="Search">Busqueda rapida</label>
        </div>
    </div>

</div>



<br />

<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Numero de Boleta</th>
                <th scope="col">Fecha</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Ver Boleta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr class="Search">
                    <th scope="row">@u.Id</th>
                    <td>@u.NumeroBoleta</td>
                    <td>@u.FechaVenta.ToString("dd-MM-yy")</td>
                    <td>
                        @foreach (Delphos.Models.Usuario user in ViewBag.usuarios)
                        {
                            if (user.Id == u.IdVendedor)
                            {

                                <p>@user.Nombre  @user.ApellidoP @user.ApellidoM </p>

                            }
                        }




                    </td>
                    <td align="center"><a class="fa fa-eye" href="@Url.Action("DetalleBoleta","Venta", new { id = u.Id })"></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

