@model IEnumerable<Delphos.Models.Venta>

<h1>Resumen de ventas del dia</h1>
<hr />

<div class="row">
    <div class="col">
        <input class="form-control" type="search" name="buscarboletafecha" value="" />
    </div>
    <div class="col">
        <button class="btn colorBoton">Buscar Fecha</button>
    </div>
    <div class="col"></div>
</div>



<br />

<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Numero de Boleta</th>
                <th scope="col">Fecha</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Ver Boleta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr class="Search">
                    <th scope="row">@u.Id</th>
                    <td>@u.NumeroBoleta</td>
                    <td>@u.FechaVenta</td>
                    <td>@u.IdVendedor</td>
                    <td align="center"><a class="fa fa-eye" href="@Url.Action("DetalleBoleta","Venta", new { id = u.Id })"></a></td>
                </tr>
                 }
        </tbody>
    </table>
</div>

