@model IEnumerable<Delphos.Models.Producto>

@{
    Layout = "~/Views/Shared/_LayoutComercial.cshtml";
}

<h1>Lista de Productos</h1>
<hr />
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sku</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha</th>
                <th style="text-align:center">|</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
            <tr>
                <th scope="row">@p.Id</th>
                <td>@p.Sku</td>
                <td>@p.Nombre</td>
                <td>@p.Descripcion</td>
                <td>@p.CategoriaId</td>
                <td>@string.Format("{0:C}", @p.Precio)</td>
                <td>@p.FechaCreacion.ToString("dd-MM-yy")</td>
                <td style="text-align:center; color:coral">|</td>
                <td style="text-align:center">
                    <a class="far fa-edit" href="@Url.Action("Editar", "Producto", new { id = p.Id })"></a> |
                    <a class="far fa-eye" href="@Url.Action("Ver", "Producto", new { id = p.Id })"></a>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>

<a class="btn colorBoton" href="@Url.Action("Nuevo", "Producto")">Agregar</a>
