@model Delphos.Models.Producto

@{
    Layout = "~/Views/Shared/_LayoutComercial.cshtml";
}

<h1 style="text-align:center">Agregar Producto</h1>
<hr />

@*@Html.ValidationSummary()*@

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form method="post" action="@Url.Action("Nuevo", "Producto")">
            <div class="form-group row">
                <label for="Sku" class="col-sm-2 col-form-label">Sku</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Sku" name="Sku" value="@Model.Sku">
                    @Html.ValidationMessageFor(Model => Model.Sku)
                </div>
            </div>

            <div class="form-group row">
                <label for="Nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre">
                    @Html.ValidationMessageFor(Model => Model.Nombre)
                </div>
            </div>

            <div class="form-group row">
                <label for="Descripcion" class="col-sm-2 col-form-label">Descripcion</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Descripcion" name="Descripcion" value="@Model.Descripcion">
                    @Html.ValidationMessageFor(Model => Model.Descripcion)
                </div>
            </div>

            <div class="form-group row">
                <label for="Categoria" class="col-sm-2 col-form-label">Categoria</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Categoria" name="Categoria" value="@Model.CategoriaId">
                    @Html.ValidationMessageFor(Model => Model.CategoriaId)
                </div>
            </div>

            <div class="form-group row">
                <label for="Precio" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Categoria" name="Precio" value="@Model.Precio">
                    @Html.ValidationMessageFor(Model => Model.Precio)
                </div>
            </div>

            <input type="hidden" value="@Model.FechaCreacion" name="FechaCreacion" />

            <br /><br />
            <div class="row">
                <div class="col">
                    <a class="btn colorBoton" href="@Url.Action("Index", "Producto")">Volver</a>
                </div>

                <div class="col" style="text-align:right">
                    <button type="submit" class="btn colorBoton">Confirmar</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-3"></div>
</div>


